<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>ContentPane DOH test</title>
	<style type="text/css">
		@import "../../../dijit/themes/claro/document.css";
		@import "../../../dijit/themes/claro/claro.css";
		@import "../../../dijit/tests/css/dijitTests.css";

		.box {
			border: 1px solid black;
			padding: 8px;
		}

		.dijitTestWidget {
			border: 1px dashed red;
			background-color: #C0E209;
		}
	</style>

	<script type="text/javascript" src="../../../dojo/dojo.js"
		data-dojo-config="isDebug: true"></script>
	<script type="text/javascript">
		require([
			"doh/runner",
			"dojo/_base/array",
			"dojo/_base/declare",
			"dojo/dom",
			"dojo/data/ItemFileReadStore",
			"dojo/_base/NodeList",
			"dojo/parser",
			"dijit/registry",
			"dijit/_WidgetBase",
			"dijit/_TemplatedMixin",
			"dijit/_WidgetsInTemplateMixin",
			"dijit/_Container",
			"dijit/Dialog",
			"dijit/layout/_LayoutWidget",
			"dijit/layout/ContentPane",
			"dijit/layout/StackContainer",
			"mijit/layout/ContentPane",
			"dojo/domReady!"
		], function(doh, array, declare, dom, ItemFileReadStore, NodeList, parser,
					registry, _WidgetBase, _TemplatedMixin, _WidgetsInTemplateMixin, _Container, Dialog, _LayoutWidget,
					dContentPane, StackContainer, ContentPane){

			// create a do nothing, only for test widget
			declare("TestWidget",
				[_WidgetBase, _TemplatedMixin], {
				templateString: "<span class='dijitTestWidget'></span>"
			});
			
			doh.register("pane1", [
				{
					name: "no_autoparse",
			       	runTest: function(t){
				       	if(registry.byId("pane1")){
				       		throw doh._AssertFailure("Page got autoparsed when it shouldn't");
				       	}
			    	}
			     }
			]);
			
			var pane2, pane22,pane23, MyWidget;
			
			doh.register("pane2", [
				{
					name: "clear_content",
					setUp: function(t){
			    		pane2 = new ContentPane({
			    			preventCache: true
			      		}, dom.byId("pane2"));
			        	pane2.set("content", "");// pass undefined on purpose
			    	},
			    	runTest: function(t){
			        	doh.is(0, _WidgetBase.prototype.getChildren.call(pane2).length);
			        	doh.is("", pane2.domNode.innerHTML)
			        }
				},
				{
					name: "setContent_String",
					setUp: function(){
						pane2.set("content", "");
					},
					runTest: function(t){
						var msg = "<h3>a simple html string</h3>";
						pane2.set("content", msg);
						doh.is(msg, pane2.domNode.innerHTML.toLowerCase());
					}
				},
				{
					name: "setContent_DOMNode",
					setUp: function(t){
						var div = document.createElement('div');
						div.innerHTML = "set('content', [DOMNode] )";
						div.setAttribute('data-dojo-type', 'TestWidget');
						pane2.set("content", div);
					},
					runTest: function(t){
						doh.is(1, _WidgetBase.prototype.getChildren.call(pane2).length);
					},
					tearDown: function(t){
						pane2.set("content", ""); // clear content for next tests
					}
				}
			]);
			
			doh.register("pane2s", [
				{
					name: "prototype",
					setUp: function(t){
			    		pane2 = function(a,b){return a * b;};
			    		pane22 = {a:2};
			    		pane23 = new pane2();
					},
			       	runTest: function(t){
			       		doh.is(Function, pane2.constructor);
			       		doh.is(Function, pane2.constructor.prototype.constructor.prototype.constructor.prototype.constructor);
			       		doh.is("object", typeof pane2.prototype);
			       		doh.is(Object.prototype, pane2.prototype);
			       		doh.is("function",typeof pane2.__proto__);
			       		doh.is(Function.prototype, pane2.__proto__);
			       		
			       		doh.is(Object, pane22.constructor);
			       		doh.is(Object, pane22.constructor.prototype.constructor.prototype.constructor.prototype.constructor);
			       		//doh.is("object", typeof pane22.prototype);  //error
			       		doh.is("object", typeof pane22.__proto__);
			       		doh.is(Object.prototype, pane22.__proto__);
			       		
			       		doh.is(pane2, pane23.constructor);
			       		doh.is(pane2, pane23.constructor.prototype.constructor.prototype.constructor.prototype.constructor);
			       		doh.is(pane2.prototype, pane23.__proto__);
			       		//alert(pane23.call());   //error
			       		

			       		doh.is(2, pane2.length);
			       	}
			    }
			]);
			
			doh.run();
		});
	</script>
</head>
<body class="claro" role="main">
	<h2>mijit/layout/ContentPane DOH test</h2>
	<h3>Test designed to run on localhost (minimize impact from network latency)</h3>

	<h4>This should NOT be parsed automatically</h4> 
	<div id="pane1" data-dojo-type="mijit/layout/ContentPane" data-dojo-props='"class":"box"'>
		<div data-dojo-type='TestWidget'>If this has a different background and a red border, the page parsed when it shouldn't</div>
	</div>
	<br/><h3>Testing ContentPane</h3>
	<div id='pane2' class='box'>
		Even though the entire page isn't scanned for widgets,
		any sub widgets of a ContentPane will be created when a ContentPane is created<br/>
		<span id="2_zero" data-dojo-type='TestWidget'>This should have a backgroundcolor and a border</span>
		<div id="2_one" data-dojo-type="dijit/_WidgetBase"></div>
		<div id="2_two" data-dojo-type="dijit/_WidgetBase"></div>
		<div id="2_three" data-dojo-type="dijit/_WidgetBase"></div>
	</div>
	<br/><br/>

	<!-- for container tests -->
	<div id="container" data-dojo-type="dijit/layout/ContentPane">
		<div id="zero" data-dojo-type="TestContained"></div>
		<div id="one" data-dojo-type="TestContained"></div>
		<div id="two" data-dojo-type="TestContained"></div>
		<div id="three" data-dojo-type="dijit/_WidgetBase"></div>
	</div>
	<div id="outside" data-dojo-type="dijit/_WidgetBase"></div>
	<div id="outsideCont" data-dojo-type="TestContained"></div>

	<!-- for testing popup widgets inside of a content pane -->
	<div id="popupTest">
		<div id="popupPane" data-dojo-type="mijit/layout/ContentPane">
			<div id="dialog" data-dojo-type="dijit/Dialog">
				hello world
			</div>
		</div>
	</div>

	<!-- for testing non-widgets inside of a content pane -->
	<div id="nonWidgetTest">
		<div id="nonWidgetPane" data-dojo-type="mijit/layout/ContentPane" data-dojo-id="nwp">
			<div data-dojo-type="NonWidget" data-dojo-id="nw1"></div>
		</div>
	</div>

</body>
</html>
